* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif; line-height: 1.5;
  color: #666;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul {
  margin-left: 1rem;
}

.flat {
  margin-bottom: 0 !important;
}

.double {
  margin-bottom: 1rem;
}

.hidden-mobile {
  display: none;
}

h2,
p,
ul,
ol {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3 {
  color: #000;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.text-centered {
  text-align: center;
}

.input {
  height: 44px;
  padding: 0 1rem;
  border-radius: 5px;
  border: 0;
  background: #fff;
  font-size: 100%;
  outline: 0;
}

textarea {
  background: #fff;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
  resize: none;
  font-size: 100%;
  font-family: inherit;
  outline: 0;
}

.form__status {
  display: none;
  background: red;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.form__status.visible {
  display: none;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.hero {
  position: relative;
  background: rgba(10, 43, 83, 0.925);
  color: #fff;
  margin-bottom: 1rem;
}

.quote-form__confirmation {
  display: none;
}

#quote-form.submitted .form {
  display: none;
}

#quote-form.submitted .quote-form__confirmation {
  display: block;
}

.hero__title {
  color: #fff;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.hero__container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 50;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__container--home {
  height: calc(82.5vh);
}

.hero__content {
  font-size: 21px;
  line-height: 1.2;
  opacity: 0;
  font-weight: 100;
  transform: translateY(2rem);
  animation: showContent 500ms 500ms ease forwards;
  margin-bottom: 4rem;
}

.hero__footer {
  opacity: 0;
  transform: translateY(2rem);
  animation: showContent 500ms 500ms ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(-2rem - 15px);
}

.hero__content p {
  opacity: 0.8;
}

.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.container--tight {
  padding-top: 0;
  padding-bottom: 0;
}

.hero__call {
  font-size: 13px;
  text-transform: uppercase;
  font-style: italic;
  display: block;
  text-decoration: none;
  color: #fff;
}

.hero__call i {
  font-size: 18px;
  margin-left: 8px;
  margin-bottom: -2px;
}

.hero__logo {
  width: 125px;
  opacity: 0;
  transform: translateX(-50%);
  margin-bottom: 0;
  animation: showLogo 500ms 375ms ease forwards;
}

@keyframes showCorner {
  from {
    transform: translateX(-200%) rotate(45deg);
  }
  to {
    transform: translateX(-100%) rotate(45deg);
  }
}

@keyframes showLogo {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c94fc;
  border: 0;
  padding: 0 40px;
  outline: 0;
  text-align: center;
  height: 44px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  transition: all 375ms ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-size: 100%;
}

.btn[disabled] {
  opacity: 0.25;
  background: darkBlue;
  cursor: default;
}

.btn[disabled]:hover {
  background: darkBlue;
}

.btn:hover {
  background: #2678d9;
}

.btn--facebook {
  background: rgb(66, 103, 178);
  color: #fff !important;
}

.btn--large {
  height: 60px;
  font-size: 110%;
}

.blob {
  margin-bottom: 2rem;
}

.blob__img {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
}

.blob__link {
  color: #2678d9;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
}

.blob__link i { font-size: 13px }

.blob__img {
  display: block;
}

.intro {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  font-weight: 100;
}

.contact {
  background: #f2f2f2;
}

.hours {
  margin-left: 0;
}

.hours li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.form {
  margin-bottom: 40px;
}

.socials__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin-bottom: 40px;
  font-size: 14px;
}

.socials__nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255,255,255,0.75);
}

.socials__nav a:first-child {
  margin-top: 0;
}

.socials__nav i {
  width: 1.5rem;
  text-align: center;
  margin-right: 0.5rem;
  font-size: 1.15rem;
}

.footer {
  color: rgba(255,255,255,0.75);
  background: rgba(10, 43, 83, 0.925);
  padding-bottom: 40px;
}

.footer h2 {
  color: #fff;
}

.footer__licences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  padding-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.map {
  display: block;
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
}

.map img {
  display: block;
}

.map__address {
  background: rgba(255,255,255,0.25);
  text-align: center;
  padding: 0.5rem 1rem;
}

.reviews {
  margin-bottom: 3rem;
}

.review {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.review__stars {
  color: gold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}

.gallery__thumb {
  display: block;
  width: 100%;
}

.gallery__thumb img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media(min-width: 768px) {

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
  }

  .footer__container .location,
  .footer__container .details {
    flex: 1;
  }

  .hidden-mobile {
    display: initial;
  }

  .hidden-desktop {
    display: none;
  }

  .hero__header {
    margin-bottom: 80px;
  }

  .hero__container {
    height: auto;
    display: block;
  }

  .hero__content {
    margin-bottom: 0;
    margin-top: 120px;
  }

  .hero__footer {
    margin: 0;
    display: block;
    margin-bottom: 120px;
  }

  .hero__footer .btn {
    width: auto;
  }

  .intro {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .blob {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }

  .blob:last-child {
    margin-bottom: 0;
  }

  .blob ul {
    column-count: 2;
    column-gap: 40px;
    margin-left: 1em;
  }

  .blob--reverse {
    flex-direction: row-reverse;
  }

  .blob__img {
    margin: 0;
    min-width: 50%;
    margin-top: 10px;
  }

  .contact__container {
    border-top: 1px solid #ddd;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  .footer__licences {
    flex-direction: row;
  }
  
}

@media(min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
